{% extends 'base.html' %}
{% include 'navbar.html' %}
{% block content_title %} Главная страница блога {% endblock %}

<div class="jumbotron">
  <h1 class="display-4">Привет, мир!</h1>
  <p class="lead">Это простой пример блока с компонентом в стиле jumbotron для привлечения дополнительного внимания к содержанию или информации.</p>
  <hr class="my-4">
  <p>Использются служебные классы для типографики и расстояния содержимого в контейнере большего размера.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>

{% block content %}
    <div class="container">
    {% for item in context.notes %}
        <div class="row card mt-5">
            <div class="card-header">
                <a href="{{ url_for('blog.post_page', id=item.id) }}">
                    {{ item.title }}</a>
            </div>
            <div class="card-body"> {{ item.message |truncate(30, True)}}
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
