{% extends 'base.html' %}
{% include 'navbar.html' %}
{% block content_title %} Главная страница блога {% endblock %}


{% block content %}
    <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Авторизация</h1>
      <p class="lead">
           Если у вас нет аккаунта вы можете зарегистрироваться.<br>
          <a class="btn btn-primary btn-lg" href="{{ url_for('main_auth.register') }}" role="button">
              Регистрация
          </a>
      </p>
      <hr class="my-4">
      <p>
          Для того что бы видеть все посты, пожалуйста войдите. <br>
        <a class="btn btn-primary btn-lg" href="{{ url_for('main_auth.login') }}" role="button">
            Войти
        </a>
      </p>
    </div>

    {% for item in context.notes %}
        <div class="row card mt-5">
            <div class="card-header">
                <a href="{{ url_for('blog.post_page', id=item.id) }}">
                    {{ item.title }}</a>
            </div>
            <div class="card-body"> {{ item.message |truncate(30, True)}}
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
